@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&family=Montserrat:wght@200;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,400;1,500;1,700&family=Vina+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#home {
    right: 0;
    width: 100%;
    min-height: 90vh;
    z-index: 2;
    overflow: hidden;
}

#home img {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-text {
    position: absolute; left: 0; top: 0; width: 100%;
    color: white;
    min-height: 99vh;
    background-image: linear-gradient(
        to right,
        rgba(0,0,0,1),
        rgba(0,0,0,.7),
        rgba(0,0,0,.4),
        rgba(0,0,0,0)
    );
    margin-top: 7.5px;
    padding:250px 0 0 20px;
}

.home-text p {
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    opacity: 0.5;
}

.home-text h2 {
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
}

.home-text h3 {
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
}

.home-text .game {
    background: linear-gradient(to right,
        #121481,
        #10439F
    );
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}